---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { type CollectionPosts } from "@/types";
import { getPosts } from "@/utils/posts";
import { Image } from "astro:assets";

export async function getStaticPaths() {
	const posts = await getPosts();
	return posts.map((post) => {
		return {
			params: { slug: post.slug },
			props: {
				post,
			},
		};
	});
}

type Props = { post: CollectionPosts };

const { post } = Astro.props;
const { title, image, description, date, duration, tag } = post.data;

const { Content } = await post.render();

function getDate(date: string) {
	return new Date(date).toISOString();
}
---

<BaseLayout title={title} description={description} image={image} pageType='article'>
	<div class='mb-4 flex gap-2'>
		<select class='size-control'>
			<option value='text-sm' selected>Small</option>
			<option value='text-base'>Base</option>
			<option value='text-lg'>Large</option>
			<option value='text-xl'>Extra Large</option>
		</select>
	</div>
	<article class='prose text-sm'>
		<h1>{title}</h1>
		<p op-50>
			{date && <time datetime={getDate(date)}>{date.split(",")}</time>}
			{duration && <span>· {duration}</span>}
			{tag && <span>· {tag}</span>}
		</p>
		{
			image && (
				<p>
					<Image width='640' height='360' src={image.src} alt={image.alt || ""} />
				</p>
			)
		}
		<Content />
	</article>
</BaseLayout>

<script>
	const article = document.querySelector(".prose");
	document.querySelector(".size-control").addEventListener("change", (e) => {
		article.className = `prose ${e.target.value}`;
	});
</script>
